.page-success {
	.row-successs {
		min-height: 69vh;
	}
	.section-success {
		h2 {
			font-weight: normal;
			font-size: 28px;
			margin-top: 0;
			margin-bottom: 16px;
			color: #0c0d36;
		}
		.btn-signup {
			@include button-variant(#f3f3f3, transparent);
			color: #bbbbbb;
		}
	}
}
